<% provide(:title, 'Blog') %>
<div class="center hero-unit">
  <h1>Welcome to project2</h1>
  <h2>
    This is the Blog page for project2.
  </h2>
</div>
<%= link_to image_tag("blog.jpg", alt: "Blog"), 'http://rubyonrails.org/' %>